{% extends 'base.html' %}
{% block content %}
<h1> Entries for <em>{{resolution}}!</em></h1>

{% if resolution.user == request.user %}
{% if entry_list %}  
{% for entry in entry_list %}
    <div class="card p-3">
         <div class="card-content">
               <span class="card-title">{{ entry.resolution.goal }}</span>
               <p>{{entry.week}}</p>
         </div>
         <section style="display:flex">
            <a class="btn btn-info m-3" href="{% url 'update_entry' entry.id %}">Update Entry</a>
            <form action="{% url 'delete_entry' entry.id %}" method="POST">
            {% csrf_token %}
               <a class="btn btn-danger m-3">Delete</a>
            </form>
          </section>
    </div>
  <br>
{% endfor %}
{% else %}
    <h1>You have no entries</h1>
{% endif %}
<div class="add-entry"><a class="button-custom" href="{% url 'entry_create' resolution.id %}">+ Entry</a></div>
{% endif %}

{% endblock %}