{% extends 'base.html' %}
{% block content %}
<h1> Entries for <em>{{resolution}}!</em></h1>

{% if resolution.user == request.user %}
{% if entry_list %}  
{% if entry_list.count == 1 %}
<h2>There is only {{ entry_list.count }} entry for this goal</h2>
{% endif %}
{% if entry_list.count > 1 %}
<h2>There are {{ entry_list.count }} entries for this goal</h2>
{% endif %}

{% for entry in entry_list %}

    
    <div class="card p-3 slider-element">
         <div class="card-content">
               <span class="card-title">Mood: {{ entry.mood }}</span>
               <p>{{entry.day}}</p>
               <p>{% if entry.done %}
                 Daily Goal Completed!
                 {% else %}
                 Daily Goal Incomplete.
                {% endif %}
               </p>
               <p>{{entry.notes}}</p>
         </div>
         <section style="display:flex">
            <a class="btn btn-info m-3" href="{% url 'update_entry' entry.id %}">Update Entry</a>
            <form action="{% url 'delete_entry' entry.id %}" method="POST">
            {% csrf_token %}
               <a class="btn btn-danger m-3">Delete</a>
            </form>
          </section>
    </div>
  <br>
{% endfor %}
{% else %}
    <h1>You have no entries</h1>
{% endif %}
<div class="add-entry"><a class="button-custom" href="{% url 'entry_create' resolution.id %}">+ Entry</a></div>
{% endif %}

{% endblock %}