{% extends 'base.html' %}
{% block content %}
<h1> Resolution: {{resolution.goal}} </h1>

    <div class="card p-1">
        <div class="card-body">
            <span class="card-title">{{ resolution.goal }}</span>
            <p>Reason: {{resolution.reason}}</p>
            <p>Time Period: {{resolution.time_period}}</p>
            <p>Notes: {{resolution.notes}}</p>
        </div>
        <div class="card-action">
          <center>
            {% if resolution.user == request.user %} 
           <a class="badge badge-info" href="{% url 'update' resolution.id %}">Edit</a>
           <a class="badge badge-danger" href="{% url 'delete' resolution.id %}">Delete</a>
           {% endif %}
          </center>
        </div>
    </div>
<br>
    <table class="striped mp-5">
      <thead>
        <tr><th>User</th><th>Comment</th></tr>
      </thead>
      <tbody>
        {% if resolution.comment_set.count %}  
            {% for comment in resolution.comment_set.all %}
                <tr>
                    <td>{{comment.user}}</td>
                    <td>{{comment.text}}</td>
                    <td>
                      {% if comment.user == request.user %}
                      <form action="{% url 'delete_comment' comment.id %}" method="post">
                        {% csrf_token %}
                        <button class="badge badge-danger">X
                        </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h5>No Comments Yet</h5>
        {% endif %}
      </tbody>
    </table>
    <hr>
    <section id="wrapper">
        <form action="{% url 'add_comment' resolution.id %}" method="post">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <button class="btn btn-primary" type="submit" value="Add Comment">Add Comment</button>
        </form>
      </section>
        <br>


{% endblock %}