{% extends 'base.html' %}
{% block content %}
<h1> Resolutions Around the World! </h1>

{% for resolution in resolution_list %}

<div class="card p-3">

  <div class="card-content">
    <br> <a href="{% url 'detail' resolution.id %}">
      <i class="material-icons">
        pageview
      </i>
    </a>
    <span class="card-title">Goal: {{ resolution.goal }}</span>
    <p>User: {{ resolution.user.username }}</p>
  </div>
  {% if resolution.user == request.user %}
  <div class="card-action">
    <a class="btn btn-primary" href="{% url 'entry_index' resolution.id %}"> View Entries </a>
    <a class="btn btn-success m-3" href="{% url 'entry_create' resolution.id %}">Add An Entry </a>
    {% endif %}

  </div>
</div>
<br>
{% endfor %}

{% endblock %}