nav > li {
    background-color: white;
}

.background {
   height: 100vh;
   width: 100vw;
   background-image: url('../images/night_hill.gif');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.background > h1 {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}

.home-icon {
   filter: saturate(3);
}

.background > ul {
   justify-self: flex-end;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   z-index: 2;
}

.background > ul > li {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.background > ul > li > a {
   color: navy;
   display: flex;
   background-color: #B4CBD1;
   opacity: 0.7;
   align-items: center;
   justify-content: center;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   border-radius: 99999px;
   width: 200px;
   height: 40px;
   padding: 0;
   margin: 0;
   text-align: center;
   transition: transform 0.3s ease, opacity 0.2s ease;
}

.background > ul > li > a:hover {
   opacity: 1;
   transform: scale(1.1);
}

.background > ul > li > a:hover:active {
   transform: scale(0.9);
}

.button-custom {
   justify-content: end;
   color: navy;
   background-color: #B4CBD1;
   opacity: 0.7;
   border-style: solid;
   border-width: 1px;
   border-color: black;
   border-radius: 99999px;
   padding: 10px;
   margin: 0;
   transition: transform 0.3s ease, opacity 0.2s ease;
}

.button-custom:hover {
   opacity: 1;
   transform: scale(1.1);
   text-decoration: none;
}
#goals-icon {
   height: 7em;
}

#goals-icon:hover {
   background-color: rgb(54, 30, 103);
   opacity:0.7 !important;
   filter:alpha(opacity=70) !important; /* For IE8 and earlier */
   box-shadow: 0 0 0px #000000 !important;
}


@keyframes hue {
   from {
     filter: hue-rotate(0deg);
   }
   
   to {
     filter: hue-rotate(360deg);
   }
 }
 .discoball {
   animation-timing-function: linear;
   animation-duration: 1s;
   animation-name: hue;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   background: lightgrey;
   border-radius: 200px;
   /*border: 0px solid #fff;*/
   height: 200px;
   width: 200px;
   box-shadow: 0 3px 200px -3px #fff;
   position: absolute;
   z-index: 1;
   top: 10vh;
   transition: transform 0.5s ease-in;
 }
 .discoball img {
   height: 200px;
   width: 200px;
 }
 .discoball.dropping {
    transform: translateY(30vh)
 }
 
.add-entry {
   position: absolute;
   right: 5vw;
   top: 40vh;
}

.card-title {
   font-size: 1.5rem;
   text-transform: uppercase;
   text-decoration: #353A3F solid underline overline;

}

#id_text {
   width: 90%;
   padding: 10px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border-radius: 25px;
}

#id_text:focus {
   outline: none;
}

#comment-table {
   font-size: 1rem;
   padding: 5px;
   margin: 5px;
}

.solid {
   background-color: rgba(0,0,0,0.03);
}


table {
   width: 75%;
   padding: 5px;
}
table input, select {
   width: 100%;
   padding: 5px;
   margin: 10px 5px 5px 5px;
   font-size: 20px;
   color: grey;
}
table input:focus {
   outline: none;
}

table label {
   font-size: 18px;
}

a:hover {
   cursor: cell;
   color: lightblue; 
   text-decoration: none;
}

.btn-size {
   width: 220px;
}